<div class="container">
    <div class="d-flex flex-row align-items-center justify-content-start">
        
        <div class="p-2">
            <strong>Dependencia: </strong>
        </div>
        
        <div class="p-2">
           <!--  <select #selectList (change)="setValue(selectList.value)" name="dependencias" class="custom-select form-select">    
                <option *ngFor="let data of localFilterApi" value="{{data.siglas}}">{{data.nombre}}</option>
            </select> -->
        </div>
    </div>
</div>
