@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";

$mynewcolor:#338C36;

.chip {
    display: inline-block;
    padding: 0 15px;
    height: 30px;
    width: 150px;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    border : 1.5px solid #707070;
    background-color: #fff;
}


.btn-primary {
  color: white;
  text-shadow: 1px 1px 2px grey;
  @include button-variant($mynewcolor, darken($mynewcolor, 7.5%), darken($mynewcolor, 10%), lighten($mynewcolor,5%), lighten($mynewcolor, 10%), darken($mynewcolor,30%));
}

app-proc-card {
  max-height: 350px;
  overflow-y: auto;
}

/* ::-webkit-scrollbar {
  display: none;
}

ul{
  overflow:hidden; 
  overflow-y:scroll;
  height:500px; 
} */

h5 {
  color: #075A1C;
}

.pagination ::ng-deep .ngx-pagination .current {
  background: $mynewcolor;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(95, 93, 93) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}