
<div class="container p-5" >

    <app-title-text title="Aviso de Privacidad"></app-title-text>
    <p>Los datos personales recabados por la Secretaría de Desarrollo Económico (SEDECO), son protegidos y no han sido o serán incorporados y tratados en ningún sistema de datos personales ajeno a esta Dependencia. El responsable del sistema de datos personales de esta plataforma, es la Dirección de Mejora Regulatoria. El interesado podrá ejercer los derechos de acceso, rectificación, cancelación u oposición, (ARCO) de datos personales, en la Unidad de Transparencia de la SEDECO ubicada en la Sala A del Centro Convenciones Blvd. Antonio Rocha Cordero No. 125, Col. Desarrollo del Pedregal, San Luis Potosí, S.L.P. Tel. 444 688 9647. Lo anterior en cumplimiento a la Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados y a la Ley de Protección de Datos Personales en Posesión de Sujetos Obligados del Estado de San Luis Potosí.
    </p>

    <a class="btn btn-primary" href="/" role="button">Regresar</a>

</div>
