<div class="px-3 py-1  bg-color">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center text-white justify-content-center justify-content-lg-center">
        <div class="mb-auto p-2"><strong>MAS BUSCADOS</strong></div>

        <div class="container">
            <div class="row">
              <div class="col">
                <ul class="list list-unstyled d-flex flex-nowrap">
                <li class="p-2" style="white-space: nowrap;">1.Texto largo que se ajustará al ancho del contenedor</li>
                <li class="p-2" style="white-space: nowrap;">2.Texto largo que se ajustará al ancho del contenedor</li>
                <li class="p-2" style="white-space: nowrap;">3.Texto largo que se ajustará al ancho del contenedor</li>
                <li class="p-2" style="white-space: nowrap;">4.Texto largo que se ajustará al ancho del contenedor</li>
                <li class="p-2" style="white-space: nowrap;">5.Texto largo que se ajustará al ancho del contenedor</li>
                <li class="p-2" style="white-space: nowrap;">6.Texto largo que se ajustará al ancho del contenedor</li>
                <li class="p-2" style="white-space: nowrap;">7.Texto largo que se ajustará al ancho del contenedor</li>
                <li class="p-2" style="white-space: nowrap;">8.Texto largo que se ajustará al ancho del contenedor</li>
                <li class="p-2" style="white-space: nowrap;">9.Texto largo que se ajustará al ancho del contenedor</li>
                <li class="p-2" style="white-space: nowrap;">10.Texto largo que se ajustará al ancho del contenedor</li>
                </ul>
              </div>
            </div>
          </div>          

      </div>
    </div>
</div>