<div class="px-3 py-1 bg-light d-none d-sm-block">
<div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

    <ul class="nav col-8 col-lg-auto my-2 justify-content-center align-items-center text-small">

        <li>
        <a href="#" class="navbar-brand text-white">
            <img src="../../../assets/gob/Logo.png" alt="header image" width="196" height="69">
        </a>
        </li>
        <li>
        <a href="#" class="nav-link text-title-color">
            <span>CATÁLOGO ESTATAL DE REGULACIONES, TRÁMITES Y SERVICIOS</span>
        </a>
    </li>
    </ul>
    </div>
</div>
</div>

<div class="floud-container d-block d-sm-none">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

    <ul class="nav col-12 col-lg-auto my-2 justify-content-center align-items-center text-small">

        <li>
        <a href="#" class="navbar-brand text-white">
            <img src="../../../assets/gob/Logo.png" alt="header image" width="196" height="69">
        </a>
        </li>
        <li>
        <a href="#" class="nav-link text-title-color">
            <span>CATÁLOGO ESTATAL DE REGULACIONES, TRÁMITES Y SERVICIOS</span>
        </a>
    </li>
    </ul>
    </div>
</div>
