.circle {
    width: 145px;
    height: 145px;
    line-height: 150px;
    border-radius: 50%;
    border : 1px dashed black;
    font-size: 50px;
    color: #E61064;
    text-align: center;
    background: #fff;
}